@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@1,100&family=Ubuntu:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root {
--primeira-cor: black;
--segunda-cor: #43C4F4;
--terceira-cor: #A30900;
--quarta-cor: antiquewhite;

}
body{
    height: 100vh;  
    background-color: var(--primeira-cor);
    box-sizing: border-box;
    
}

.index-cel-menu-lateral {
    display: none;
}
nav.menu-lateral {
    width: 45px;
    height: 100%;
    padding: 40px 0px 40px 1%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .5s;
}
nav.menu-lateral:hover {
    width: 250px;
}
.btn-expandir {
    width: 100%;
    padding-left: 5px;
    margin-bottom: 20px;
    
}
.btn-expandir > i {
    color: var(--segunda-cor);
    font-size: 24px;
    cursor: pointer;
}
ul {
    height: 100px;
    list-style-type: none;
}

ul li.item-menu a {
    color: var(--segunda-cor);
    text-decoration: none;
    font-size: 18px;
    padding: 20px 4%;
    display: flex;
    margin-left: 6px;

}
ul li.item-menu a .texto-link {
    margin-left: 40px;
    font-family: 'Libre Franklin', sans-serif;
    
}
ul li.item-menu:hover {
    background-color: var(--segunda-cor);
    .texto-link{color: aliceblue;}
    
    .icone {color: antiquewhite;}
}
ul li.item-menu {
    transition: .4s;
}

.cabecalho{
    font-family:'Ubuntu', sans-serif ;
    font-size: 1rem;
}
.navegar__cabecalho{
    display: flex;
    gap: 30px;
    justify-content: center;
    
}
.links__cabecalho{
    text-decoration: none;
    padding: 1.5%;
    color: var(--segunda-cor);
    position: relative;
   
}
.links__cabecalho::after {
    content: " ";
    width: 0%;
    height: 2px;
    background-color: var(--segunda-cor);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}
.links__cabecalho:hover::after {
    width: 100%;
}

.number__one {
    
    display: flex;
    flex-direction: column;
   
}

.escritos {
    padding: 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5%;

}
.escritos__um{
    color: var(--quarta-cor);
    font-size: 2.25rem;
    font-family: 'Ubuntu', sans-serif;
}
.escritos__dois{
    font-size: 1.5rem;
    font-family:'Libre Franklin', sans-serif;
    font-weight: 100;
    color: var(--quarta-cor);
}
.destaque {
    color: var(--segunda-cor);
    font-size: 2.5rem;
}


.fotos__inicial{
    display: flex;
justify-content: center;   
    
}
.tamanho__fotos{
    width: 100%;
}
.tamanho__fotos1 {
    width: 50%;
    margin-left: 16%;
}

.primeira__linha {
    margin-left: 10%;
    display: flex;
    justify-content: center;
    gap: 50px;
    

}
.quadrado__primeira {
    text-decoration: none;
    color: azure;
    font-family:'Libre Franklin', sans-serif ;
    font-size: 1.25rem;
    display: flex;
    flex-direction: column-reverse;
    gap: 2%;
}

@media (max-width: 950px) {
    .cabecalho{
        display: none;
    }
    .escritos__um{
        font-size: 1.5rem;
    }
    .index-cel-menu-lateral {
        display: block;
    }
    nav.index-cel-menu-lateral {
        width: 22px;
        height: 100%;
        padding: 15% 0px 0px 1%;
        position: fixed;
        top: 0;
        left: 0;
        overflow: hidden;
        transition: .5s;
    }
  
    
    ul li.index-cel-item-menu:hover {
        background-color: var(--segunda-cor);
        .index-cel-texto-link{color: aliceblue;}
        .index-cel-icone{color: aliceblue;}
    }

    nav.index-cel-menu-lateral:hover {
        width: 50%;
        color:var(--quarta-cor);
        background-color: rgb(20, 20, 20);
    }
    .index-cel-btn-expandir {
        width: 100%;
        padding-left: 5px;
    
        
        
    }
    .index-cel-btn-expandir > i {
        color: var(--segunda-cor);
        font-size: 1.30rem;
        cursor: pointer;
        
    
    }
    ul {
        margin-top: 2%;
        height: 7%;
        list-style-type: none;
    }
    
    ul li.index-cel-item-menu a {
        color: var(--segunda-cor);
        text-decoration: none;
        font-size: .92rem;
        margin-top: 10%;
        padding: 3% 4%;
        display: flex;
        margin-left: 6px;
    
    }
    ul li.index-cel-item-menu a .index-cel-texto-link {
        margin-left: 10%;
        font-family: 'Libre Franklin', sans-serif;
        
    }
    /* ul li.index-cel-item-menu:hover {
        background-color: var(--segunda-cor);
        .texto-link{color: aliceblue;}
        
        .icone {color: antiquewhite;} */
    /* } */
    ul li.item-menu {
        transition: .4s;
    }
    .menu-lateral {
        display: block;
    }
    nav.menu-lateral {
        width: 22px;
        height: 100%;
        padding: 15% 0px 0px 1%;
        position: fixed;
        top: 0;
        left: 0;
        overflow: hidden;
        transition: .5s;
    }
    nav.menu-lateral:hover {
        width: 50%;
        color: #FFF;
        background-color: rgb(20, 20, 20);
    }
    .btn-expandir {
        width: 100%;
        padding-left: 5px;
        
    }
    .btn-expandir > i {
        color: var(--segunda-cor);
        font-size: 1.30rem;
        cursor: pointer;
        margin-bottom: 20%;
    }
    ul {
        margin-top: 0%;
        height: 7%;
        list-style-type: none;
    }
    
    ul li.item-menu a {
        color: var(--segunda-cor);
        text-decoration: none;
        margin-top: 10%;
        font-size: .92rem;
        padding: 3% 4%;
        display: flex;
        margin-left: 6px;
    
    }
    ul li.item-menu a .texto-link {
        margin-left: 10%;
        font-family: 'Libre Franklin', sans-serif;
        
    }

    .number__one{
        display: flex;
        align-items: center;
        padding-left: 15%;
    }
}